@import './dy/iconfont.min.css';
@import './zj/fonts.css';

/* 时间轴（来自Volantis主题） */


div[alt="timeline"] {
    margin-top: 8px;
    margin-left: 8px;
}
div[alt="timenode"] {
    position: relative;
}
div[alt="timenode"]:after, div[alt="timenode"]:before {
    content: "";
    z-index: 1;
    position: absolute;
    background: rgba(68,215,182,.5);
    width: 2px;
    left: 7px;
}
div[alt="timenode"]:before {
    top: 0px;
    height: 6px;
}
div[alt="timenode"] div[alt="body"], div[alt="timenode"] div[alt="meta"] {
    max-width: calc(100% - 24px);
}
div[alt="timenode"] div[alt="meta"] {
    position: relative;
    color: var(--para-color);
    line-height: 32px;
    font-size: .8rem;
    font-weight: 700;
    margin: 0 0 0 24px;
}
div[alt="timenode"] div[alt="meta"]:after, div[alt="timenode"] div[alt="meta"]:before {
    content: "";
    position: absolute;
    top: 8px;
    z-index: 2;
    left: -24px;
}
div[alt="timenode"] div[alt="meta"]:before {
    background: rgba(68,215,182,.5);
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
div[alt="timenode"] div[alt="meta"]:after {
    background: #44d7b6;
    margin-left: 2px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}
div[alt="timenode"] div[alt="body"] {
    margin: 4px 0 10px 24px;
    padding: 10px;
    border-radius: 12px;
    background: #7efc0084; 
    display: inline-block;
    font-size: .9rem;
}
div[alt="timenode"]:not(:last-child):after {
    top: 26px;
    height: calc(100% - 26px);
}
div[alt="timenode"]:last-child:after {
    top: 26px;
    height: calc(100% - 30px);
}
div[alt="timenode"]:hover div[alt="meta"]{
    color: var(--para-color);
}
div[alt="timenode"]:hover div[alt="meta"]:before{
    background:rgba(255,87,34,.5)
}
div[alt="timenode"]:hover div[alt="meta"]:after{
    background:#ff5722;-webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
}

